
<div class="bg-dark">
        <h1 class="display-3 text-light"> <i class="fa fa-location-arrow" aria-hidden="true"></i>Location</h1>
    <mat-dialog-actions>
      <div class="card">
          <img mat-dialog-close (click) = 'mumbaiTheater()' class="card-img-top" src="https://static.vecteezy.com/system/resources/previews/000/122/109/original/free-mumbai-illustration-vector.jpg" height="100px" width="100px" alt="">
          <!-- <div class="card-body">
              <h4 class="card-title text-center"><button mat-button mat-dialog-close type="button" class="btn btn-outline-warning" (click) = 'mumbaiTheater()'>Mumbai</button></h4>
          </div> -->
      </div>
      <div class="card">
            <img (click) = 'puneTheater()' class="card-img-top" mat-dialog-close src="https://cdn.dribbble.com/users/2856265/screenshots/6463267/punesticker-01_2x.png" height="100px" width="100px" alt="">
            
                <!-- <h4 class="card-title text-center"><button mat-button mat-dialog-close type="button" class="btn btn-primary btn-lg" (click) = 'puneTheater()'>Pune</button></h4> -->
            
        </div>
        <div class="card">
                <img (click) = 'bangaloreTheater()' mat-dialog-close class="card-img-top" src="https://i.pinimg.com/originals/43/97/90/439790d8360d52868c3dac574f291049.png" height="100px" width="100px" alt="">
<!--                 
                    <h4 class="card-title text-center"><button mat-button mat-dialog-close type="button" class="btn btn-primary btn-lg" (click) = 'bangaloreTheater()'>Bangalore</button></h4> -->
                
            </div>
    </mat-dialog-actions>
    </div>

    <!-- <button mat-button mat-dialog-close type="button" class="btn btn-primary btn-lg" (click) = 'puneTheater()'>Pune</button>
    <button mat-button mat-dialog-close type="button" class="btn btn-primary btn-lg" (click) = 'mumbaiTheater()'>Mumbai</button>
    <button mat-button mat-dialog-close type="button" class="btn btn-primary btn-lg" (click) = 'bangaloreTheater()'>Bangalore</button> -->